:root {
--paleBlue: hsl(225, 100%, 94%);
--brightBlue: hsl(245, 75%, 52%);
--veryPaleBlue: hsl(225, 100%, 98%);
--darkBlue: hsl(223, 47%, 23%);
--desaturatedBlue: hsl(224, 23%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--paleBlue);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    /* 500 700 900 */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Red Hat Display", sans-serif;
}

@media (max-width: 375px) {
    body {
        background-image: url(../images/pattern-background-mobile.svg);
        height: auto;
        padding: 60px 0;
    }
}

.card {
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 15px 1px rgb(114 128 167 / 40%)
}

@media (max-width: 375px) {
    .card {
        max-width: 335px;
    }
}

.content {
    background-color: white;
    text-align: center;
    padding: 40px 30px;
}

.content h1 {
    color: var(--darkBlue);
    font-size: 29px;
    font-weight: 900;
}

.content > p:first-of-type {
    color: var(--desaturatedBlue);
    font-size: 16px;
    font-weight: 500;
    max-width: 300px;
    margin: 19px auto 20px;
}

@media (max-width: 375px) {
    .content {
        padding: 30px;
    }
    .content h1 {
        font-size: 24px;
    }
    .content > p:first-of-type{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

.music-box {
    background-color: var(--veryPaleBlue);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    margin-bottom: 30px;
}

.music-box div {
    display: flex;
    align-items: center;
}

.music-box span {
    color: var(--darkBlue);
    font-weight: 900;
    margin-left: 15px;
    font-size: 17px;
}

.music-box span p {
    color: var(--desaturatedBlue);
    font-weight: 500;
    margin: 3px 0 0;
}

.music-box > p {
    text-decoration: underline;
    color: var(--brightBlue);
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

.music-box > p:hover {
    color: #766cf1;
}

@media (max-width: 375px) {
    .music-box {
        padding: 20px 15px;
    }
    .music-box img {
        width: 40px;
    }
    .music-box span {
        font-size: 13px;
        margin-left: 10px;
    }
    .music-box > p {
        font-size: 14px;
    }
}

.btns div:first-child {
    padding: 18px;
    color: white;
    background-color: var(--brightBlue);
    font-weight: 900;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 3px 10px 19px 0px rgb(56 41 224 / 40%);
    transition: .3s;
}

.btns div:first-child:hover {
    background-color: #766cf1;
}

.btns div:last-child {
    font-size: 17px;
    color: var(--desaturatedBlue);
    font-weight: 900;
    cursor: pointer;
    margin-bottom: -6px;
    transition: .3s;
}

.btns div:last-child:hover {
    color: var(--darkBlue);
}

@media (max-width: 375px) {
    .btns div:first-child {
        font-size: 15px;
    }
    .btns div:last-child{
        font-size: 16px;
    }
}